<% layout('layouts/boilerplate') %>

<div class="row">
  <div class="col-6">
    <div class="card mb-3" style="width: 25rem;">
      <img src="<%= campground.image%>" class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title"><%= campground.title %></h5>
        <p class="card-text"><%= campground.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted"><%= campground.location %></li>
        <li class="list-group-item">Submitted by <%= campground.author.username %></li>
        <li class="list-group-item">$<%= campground.price%>/night</li>
      </ul>
      <!-- DELETE AND EDIT!!!!! -->
      
      <!-- REMEMBER position if both conditions are very important
      1. User is exist?
      2. Does user create this campground? -->
      <% if(currentUser && campground.author.equals(currentUser._id)){  %> 
      <div class="card-body">
        <a class="card-link btn btn-info" href="/campgrounds/<%=campground._id%>/edit ">Edit</a>
        <form class="d-inline" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
          <button class="btn btn-danger">DELETE</button>
        </form>
      </div>
      <% } %> 


      <div class="card-footer text-muted">
        <!-- <a href="/campgrounds">All campgrounds</a> -->
        2 days ago
      </div>
    </div>
  </div>


  <div class="col-6">
    <form action="/campgrounds/<%=campground._id%>/reviews" method="POST" class="mb-3 validated-form" novalidate>
      <h2>Leave your review</h2>
      <div class="mb-3">
        <label class="form-label" for="rating">Rating</label>
        <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">
      </div>
      <div class="mb-3">
        <label for="body" class="form-label">Review</label>
        <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
        <div class="valid-feedback">
          Great! We really need your opinion. Thank you!
        </div>
        <!-- name is found as req.body -->
      </div>
      <input type="submit" class="btn btn-success"/>
    </form>
    <% for(let review of campground.reviews){ %> 
      <div class="card mb-3">
        <div class="card-body mb-3">
          <h5 class="card-title">Rating: <%= review.rating %></h5>
          <h6 class="card-subtitle mb-2 text-muted">By <%= review.author.username%></h6>
          <p class="card-text">Review: <%= review.body  %> </p>
          <% if(currentUser && review.author.equals(currentUser._id)){  %> 
          <form class="d-inline" action="/campgrounds/<%=campground._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
            <button class="btn btn-danger">DELETE</button>
          </form>
          <% } %> 
       </div>
      </div>
    <% } %> 
  </div>
</div>